{% extends 'base.html.twig' %}

{% block title %}| FDR {{ title }}{% endblock %}

{% block head %}
    {{ asset('js', 'src/index.ts') }}
{% endblock %}

{% block body %}
    <main class="content-container">
        <section class="content-wrapper">
            <div class="content fdr">
                {{ content | markdown_to_html }}
            </div>
        </section>

        <section class="content-wrapper">
            <div class="content center">
                <a href="{{ file }}" class="button"><i class="iconoir-download-circle-solid"></i> Download</a>
            </div>
        </section>
    </main>
{% endblock %}
