---
import { blogLink, BlogProp, isCurrentBlog } from '~/types';
import BlogLink from '~/components/widgets/BlogLink.astro';
import { Icon } from 'astro-icon';

export interface Props {
  blog: BlogProp;
  base?: string;
  page?: BlogProp;
}

const { blog, base, page } = Astro.props;
const current = isCurrentBlog(blog, page);

const link = blogLink(blog);
---

<div>
  <div class={(current ? 'underline ' : '') + 'flex items-center'}>
    {
      blog.sub ? (
        <Icon name="ic:round-play-arrow" class={'w-5 h-5 hover:cursor-pointer ' + (current && 'rotate-90')} to-expand />
      ) : (
        <Icon name="carbon:dot-mark" class="w-5 h-5" />
      )
    }
    <a href={link && base + link} class={link && 'hover:underline'}>{blog.title}</a>
  </div>
  {
    blog.sub && (
      <div class={'ml-5 ' + (current ? 'block' : 'hidden')}>
        {blog.sub.map((sub) => {
          return <BlogLink blog={sub} base={base} page={page} />;
        })}
      </div>
    )
  }
</div>
