---
import { blogLink, BlogProp } from '~/types';
import BlogLink from '~/components/widgets/BlogLink.astro';

export interface Props {
  blog: BlogProp;
  base?: string;
}

const { blog, base } = Astro.props;

const link = blogLink(blog);
---

<div>
  <a href={base + link}>{blog.title}</a>
  {
    blog.sub && (
      <div class="ml-5">
        {blog.sub.map((sub) => {
          return <BlogLink blog={sub} base={base} />;
        })}
      </div>
    )
  }
</div>
