---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Title from '~/components/widgets/Title.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Title Widget ******************* -->

  <Title>
    <Fragment slot="title">Create powerful tools with Fil</Fragment>
  </Title>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    highlight="Features"
    title="What you get with Fil"
    items={[
      [
        {
          title: 'Low-level language',
          description: 'You can use it to build OS level tools',
          icon: 'ic:round-memory',
        },
        {
          title: 'High-level language',
          description: 'With its library you can develop software for all users',
          icon: 'carbon:api',
        },
        {
          title: 'Compile for all platforms',
          description: 'Through LLVM, you can compile for any platform',
          icon: 'tabler:list-check',
        },
      ],
      [
        {
          title: 'Functional, Object and more',
          description: 'Fil cover several language paradigm',
          icon: 'ic:round-code',
        },
        {
          title: 'Standard library',
          description: 'All you need is in the standard library',
          icon: 'tabler:components',
        },
        {
          title: 'FMM',
          description: 'With Fil Module Manager you can download and share modules',
          icon: 'ph:package',
        },
      ],
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="Very easy to install"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description: 'Download the compiler from the official repository on GitHub.',
        icon: 'tabler:brand-github',
      },
      {
        title: 'Step 2: <span class="font-medium">Build</em>',
        description: 'Build with CMake',
        icon: 'ph:wrench',
      },
      {
        title: 'Step 3: <span class="font-medium">Install</span>',
        description: 'Install with make',
        icon: 'tabler:arrow-bar-to-right',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Tools"
    subtitle="Useful tools for developing with Fil"
    items={[
      {
        title: 'VS Code',
        description: 'A plugin for VS Code (WIP)',
        icon: 'vscode-icons:file-type-vscode',
        link: '#',
      },
      {
        title: 'JetBrains',
        description: 'A plugin for JetBrains IDE (WIP)',
        icon: 'logos:jetbrains',
        link: '#',
      },
      {
        title: 'FMM',
        description: 'Fil Module Manager (WIP)',
        icon: 'ph:package',
        link: '#',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Start now',
      href: '#',
      icon: 'tabler:arrow-bar-to-right',
    }}
  >
    <Fragment slot="title">Don't waste more time!</Fragment>
  </CallToAction>
</Layout>
