{% extends 'base.html.twig' %}

{% block title %}| Documentation{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}

    <main class="content-container">
        <section class="content-wrapper">
            <div class="content center">
                <h1>Documentation not available</h1>
                <h3>Specifications are still on work</h3>
            </div>
        </section>
    </main>

    {% include('footer.html.twig') %}
{% endblock %}
