{% extends 'base.html.twig' %}

{% block title %}| FDR {{ title }}{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}

    <main class="content-container">
        <section class="content-wrapper">
            <div class="content">
                {{ content | markdown_to_html }}
            </div>
        </section>

        <section class="content-wrapper">
            <div class="content center">
                <a href="{{ file }}" class="button"><i class="fa-solid fa-download"></i> Download</a>
            </div>
        </section>
    </main>

    {% include('footer.html.twig') %}
{% endblock %}