{% extends 'base.html.twig' %}

{% block title %}| FDR {{ title }}{% endblock %}

{% block body %}
    {% include('navbar.html.twig') %}

    <main class="content-container">
        <section class="content-wrapper">
            <div class="content">
                {{ content | markdown }}
            </div>
        </section>
    </main>

    {% include('footer.html.twig') %}
{% endblock %}