<footer>
    <h3>Fil</h3>
    <div>
        <p>Made by <a href="https://ktraini.com">Kevin Traini</a> · All rights reserved</p>
        <a href="https://github.com/Fil-Language"><i class="fa-brands fa-github"></i></a>
    </div>
</footer>