{% extends 'base.html.twig' %}

{% block body %}
    {% include('navbar.html.twig') %}

    <main class="home">
        <section class="title">
            <div>
                <h1>Fil</h1>
                <h3>Create easily what you want</h3>
            </div>
        </section>

        <section class="status">
            <div>
                <p><i class="fa-solid fa-circle-info"></i> Status</p>
                <div class="badges">
                    <img src="https://img.shields.io/badge/Writing_specifications-yellow" alt="Writing specifications">
                </div>
            </div>
        </section>
    </main>

    {% include('footer.html.twig') %}
{% endblock %}