<header class="navbar">
    <div class="navbar-container">
        <div>
            <a href="/"><img class="logo" src="{{ asset('img', 'fil.svg') }}" alt="Fil"></a>
        </div>
        <div>
            <a href="/doc">Install</a>
            <a href="/doc">Learn</a>
            <a href="/doc">Documentation</a>
            <a href="/FDR">FDR</a>
            <a href="https://github.com/Fil-Language"><i class="iconoir-github"></i></a>
        </div>
    </div>
</header>