---
import { Image } from '@astrojs/image/components';
import logo_dark from '~/assets/images/Fil_dark.svg';
import logo_light from '~/assets/images/Fil_light.svg';
---

<span class="self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <Image class="hidden dark:block" src={logo_dark} alt="Fil" aspectRatio="1:1" width={60} height={60} />
  <Image class="block dark:hidden" src={logo_light} alt="Fil" aspectRatio="1:1" width={60} height={60} />
</span>
